<% if user_signed_in? %>
    <li><%= link_to 'Sing out', destroy_user_session_path, method: :delete %> </li>
    <li><%= link_to 'Edit registration', edit_user_registration_path %></li>
    <%= current_user.email %>
  <% else %>

   <li> <%= link_to 'sing in', new_user_session_path %> </li>
   <li> <%= link_to 'sing up', new_user_registration_path %> </li>
  <% end %>





<% @gem_infos.each do |p| %>
	<p><%= link_to p.url, 'https://rubysec.com' +  p.url.to_s %></p>
<% end %>

